table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  
}
table {
  margin-left: auto;
 margin-right: auto;
 margin-top: 200px;

}
body{
  background-image: url('background.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}
.ore {
  padding: 2px 2px 5px 5px;
}
tbody tr:nth-child(odd) {
  background-color: #ff0000;
}

tbody tr:nth-child(even) {
  background-color: #eaeae1;
}
html {
min-height:100%;}
