table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;

}
table {
  margin:0 auto;


}
body{
  background-color:red;
  background-size:auto;
  background-repeat: no-repeat;
}
.ore {
  padding: 2px 2px 5px 5px;
}

tr{
  background-color:lime;
  color:black;
}

html, body {
    height: 100%;
  }
  #tableContainer-1 {
    height: 100%;
    width: 100%;
    display: table;
  }
  #tableContainer-2 {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
  }
